<div class="section">
    <app-helpful-label for="modelVersion" label="Model version">
        Specify a <a target="_blank" href="https://ai.google.dev/gemini-api/docs/models/gemini#model-versions">model
            version</a>
        such as <code class="example">{{defaultModelVersion}}</code>.
    </app-helpful-label>

    <input id="modelVersion" #modelVersion size="40" class="code" required (change)="configure()"
        [value]="defaultModelVersion">
</div>

<!-- ---------------------------------------------------------------------- -->

<div class="section">
    <app-helpful-label for="apiKey" label="API Key">
        To obtain an API key, visit
        <a target="_blank" href="https://aistudio.google.com/">Google AI Studio</a> and click <b>Get API key</b>.
    </app-helpful-label>

    <input id="apiKey" #apiKey size="40" placeholder="Paste in your Gemini API key" class="code" required
        (change)="configure()" value="">
</div>

<!-- ---------------------------------------------------------------------- -->

<div class="section">
    <app-helpful-label for="systemInstructionInput" label="System Instructions">
        Update these <a target="_blank" href="https://ai.google.dev/gemini-api/docs/system-instructions">system
            instructions</a>
        to affect model behavior and help improve responses.
    </app-helpful-label>
    <textarea (change)="setSystemInstruction(systemInstructionInput.value)"
        #systemInstructionInput>{{systemInstruction}}</textarea>
</div>